

<body class = container-fluid>
    <form method = 'POST' action = '/steps'>
        <div>
            <label>Description</label>
            <input type = 'text' name = 'description' placeholder = 'Enter Description'>
        </div>

        <button>Create New Step</button>


</body>