
<head>
    
</head>
<body class = 'container-fluid' style = "background-color: #CEE6DA">

    <h1>Create a Recipe</h1>
    <form id="form" method = 'POST' action = '/recipes'>
        <br><button class = 'btn btn-primary'>Create New Recipe</button><br><br>
        <hr>

        <div>
            <label><h5>Title: </h5></label>
            <input class = 'form-control' type = 'text' name = 'recipe[title]' placeholder = 'Enter Recipe Title'>
        </div><br>
        <div>
            <label><h5>Category: </h5></label>
            <input class = 'form-control' type = 'text' name = 'recipe[category]' placeholder = 'Enter Recipe Category'>
        </div><br>
        <div class = 'row container'>
            <div class = 'col-4'>
                <h5>Ingredients:</h5>
            </div>
            <div class = 'col-8'>
                <h5>Steps:</h5>
            </div>
        </div>
        <div class = 'row container'>
            <div id = 'ingredients' class = 'col-4'>
            </div>
            <div id = 'steps' class = 'col-8' style = 'max-width: 1500px;'>
            </div>
        </div>
        
    </form><br>
    <button class = 'btn btn-primary' onclick="myIngredientFunction()">Add an ingredient</button>
    <button class = 'btn btn-primary' onclick="myStepFunction()">Add recipe step</button>


        <script>
            var ingredientCounter = 1;
            var stepCounter = 1;
            function myIngredientFunction() {
               
                var v = document.createElement("LABEL");
                var w = document.createElement("INPUT");
                var x = document.createElement("INPUT");
                var y = document.createElement("INPUT");
                var z = document.createElement("INPUT");

                w.setAttribute("type", "text");
                w.setAttribute("class", "form-control")
                w.setAttribute("name", "ingredients[names][]");
                w.setAttribute("value", "name");
                x.setAttribute("type", "text");
                x.setAttribute("class", "form-control")
                x.setAttribute("name", "ingredients[categories][]");
                x.setAttribute("value", "category");
                y.setAttribute("type", "text");
                y.setAttribute("class", "form-control")
                y.setAttribute("name", "ingredients[quantities][]");
                y.setAttribute("value", "quantity");
                z.setAttribute("type", "text");
                z.setAttribute("class", "form-control")
                z.setAttribute("name", "ingredients[units][]");
                z.setAttribute("value", "units");

                document.getElementById('ingredients').appendChild(v).innerHTML = `<strong>Ingredient ${ingredientCounter}</strong>`;
                document.getElementById('ingredients').appendChild(w);
                document.getElementById('ingredients').appendChild(x);
                document.getElementById('ingredients').appendChild(y);
                document.getElementById('ingredients').appendChild(z);

                ingredientCounter += 1;
                }

            function myStepFunction() {
                let counter = 1
                var v = document.createElement("LABEL");
                var w = document.createElement("TEXTAREA");

                w.setAttribute("type", "textarea");
                w.setAttribute("style", "max-width: 900px; height: 100px;")
                w.setAttribute("class", "form-control")
                w.setAttribute("name", "steps[descriptions][]");
                w.setAttribute("placeholder", "description");

                document.getElementById('steps').appendChild(v).innerHTML = `<strong>Step ${stepCounter}</strong>`;
                document.getElementById('steps').appendChild(w);

                stepCounter++
                }


        </script>
        


</body>