

<body class = container-fluid>
    <h1>Create a Recipe</h1><br>
    <hr>
    <form method = 'POST' action = '/recipes'>
        <div>
            <label>Title: </label>
            <input class = 'form-control' type = 'text' name = 'title' placeholder = 'Enter Recipe Title'>
        </div>
        <div>
            <label>Category: </label>
            <input class = 'form-control' type = 'text' name = 'category' placeholder = 'Enter Recipe Category'>
        </div><br>

        <button class = 'btn btn-primary'>Create New Recipe</button>
    </form>


</body>