

<body>
    <form method = 'POST' action = '/ingredients/<%=@ingredient.id%>'>
        <div>
            <label>Name</label>
            <input type = 'text' name = 'name' placeholder = 'Enter Name'>
        </div>
        <div>
            <label>Category</label>
            <input type = 'text' name = 'category' placeholder = 'Enter Category'>
        </div>
        <div>
            <label>Quantity</label>
            <input type = 'number' step = 0.25 name = 'quantity' placeholder = 'Enter Quantity'>
        </div>
        <div>
            <label>Units</label>
            <input type = 'text' name = 'category' placeholder = 'Enter Units'>
        </div>

        <button>Create New Ingredient</button>


</body>