<h1>Sign up</h1>

<form method="POST" action="/sign-up">
    <div>
        <label>Username:</label>
        <input type="text" name="user[username]" placeholder="Username">
    </div>  
    <div>
        <label>First Name:</label>
        <input type="text" name="user[first_name]" placeholder="First Name">
    </div>  
    <div>
        <label>Last Name:</label>
        <input type="text" name="user[last_name]" placeholder="Last Name">
    </div>  
    <div>
        <label>Age:</label>
        <input type="text" name="user[age]" placeholder="Age">
    </div>  
    <div>
        <label>Password:</label>
        <input type="text" name="user[password]" placeholder="Password">
    </div>  
    <div>
        <input type="submit" value="Create Account">
    </div>
</form>